.word
  .word_left
    .word_left_user
      = current_user.name
    .word_left_edit
      編集
    .word_left_return
      = link_to setting_index_path(current_user) do
        戻る 
  .word_right
    .word_right_content
      = @word.content
    .form
      = form_for [@word] do |f|
        = f.text_field :content, class: 'form__word', placeholder: '単語または文章入力'
        = f.file_field :image, class: 'hidden'
        = f.submit '保存', class: 'form__submit'